.searchbar{
    background:rgb(255, 255, 255);
    display:block;
    padding:10px 15px;
    background-color: #ffffff;
    border-radius:8px;
    transition:0.4s;
    margin-top: 8px;
    height:50px;
    
}

.boton{
    border-radius: 4px;
    background: #256ce1;
    height:50px;
    margin-top: 8px;;
    width:80px;

    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    /* Second Nav */
    margin-left: 8px;
}
.boton:hover{
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #010606;
}




